{% extends "wells/base.html" %}

{% block title %}
Wellie - diagram
{% endblock %}

{% load static %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'wells/content/diagram.css' %}" />
{% endblock %}

{% block body %}
<h3>{{ well }}</h3>


{% endblock %}

{% block scripts %}
{{ block.super }}

<script type="text/javascript">
    const track_coords = {{ track_coords | safe }}
    const casing_arr = {{ casing_arr | safe }}
    const bore_hole_arr = {{ bore_hole_arr | safe }};
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="{% static 'wells/scripts/diagram.js' %}"></script>
{% endblock %}